<header class="header" id="header">
    <nav class="nav container">
      <a routerLink="/home" class="nav__logo">
        <img src="assets/logo1.png" class="nav__logo-img">
      </a>
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a routerLink="/museus" class="nav__link">Museus</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Obras</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>