<app-header></app-header>
<div class="hero-image">
  <img src="assets/mafra1.jpg">
</div>
<div class="text-content">
  <p>Quarta a segunda-feira, das 9h30 às 17h30 · Bilhete 8€</p>
  <hr class="separator-line">
</div>  

<div class="content-section">
  <h1>Palácio Nacional de Mafra</h1>
    <p>
    O Palácio Nacional de Mafra é um conjunto arquitetónico barroco, formado por um palácio real, basílica, convento, jardim e tapada. A sua construção foi iniciada em 1717 e a sagração da basílica ocorreu em 1730. Possui importantes coleções de escultura italiana, pintura italiana e portuguesa, paramentos, bem como uma imponente biblioteca, dois carrilhões, seis órgãos históricos e uma enfermaria do século XVIII. Encontra-se inscrito na Lista do Património Mundial da UNESCO desde 2019.    
    </p>
    <p>
    Mandado construir em 1711 pelo rei D. João V, para cumprir um voto pelo nascimento de um primogénito, o Palácio de Mafra é o mais importante monumento do barroco português. A antiga propriedade real ocupa mais de 1200 hectares e o Palácio tem uma área de implantação de cerca de 38.000 m2, fazendo deste monumento um dos maiores da Europa. 
    </p>
    <p>
    Para este Palácio, encomendou o rei D. João V esculturas e pinturas a mestres italianos e portugueses, paramentos italianos e tapeçarias francesas e, na Flandres, dois carrilhões com 92 sinos – o maior carrilhão do seu tempo. Integra ainda um conjunto de seis órgãos históricos na basílica, uma importante biblioteca com cerca de 30 mil volumes, sendo a maior livraria numa só sala em toda a Europa. Do núcleo conventual destaca-se a enfermaria, única sobrevivente da época. 
    </p>
    <p>
    Foi residência de Estado durante a regência do príncipe D. João VI, desde as invasões napoleónicas recebeu aquartelamento militar e serviu de residência sazonal à família real. Foi a partir deste palácio que D. Manuel II, último monarca português, seguiu para o exílio, a 5 de outubro de 1910.    
    </p>
</div>
<div class="gallery">
  <a href="assets/mafra1.jpg"> 
    <img src="assets/mafra1.jpg">
  </a>
  <a href="assets/mafra2.jpg">
    <img src="assets/mafra2.jpg">
  </a>
  <a href="assets/mafra3.jpg">
    <img src="assets/mafra3.jpg">
  </a>
  <a href="assets/mafra4.jpg">
    <img src="assets/mafra4.jpg">
  </a>
  <a href="assets/mafra5.jpg">
    <img src="assets/mafra5.jpg">
  </a>
  <a href="assets/mafra6.jpg">
    <img src="assets/mafra6.jpg">
  </a>
  <a href="assets/mafra7.jpg">
    <img src="assets/mafra7.jpg">
  </a>
</div>
<div class="info-section">
  <div class="info-block">
    <h2>Diretor/a</h2>
    <p>Sérgio Gorjão</p>
  </div>
  <div class="info-block">
    <h2>Morada e contactos</h2>
    <p>Terreiro D. João V · 2640-492 Mafra</p>
    <p><strong>T</strong> +351 261 817 550</p>
    <p><strong>E-mail:</strong> geral.pnmafra&#64;museusemonumentos.pt</p>
  </div>
  <div class="info-block">
    <h2>Horário</h2>
    <p>Quarta a segunda-feira<strong> 9h30-17h30 </strong></p>
    <p>Encerrado: terças-feiras, 1 de janeiro, domingo de Páscoa, 1 de maio, quinta-feira da Ascensão (feriado municipal), 25 de dezembro</p>
  </div>
  <div class="info-block">
    <h2>Bilheteira</h2>
    <p>Normal <strong>8,00 €</strong></p>
    <p><a href="https://www.visitlisboa.com/en/places/national-palace-of-mafra">Bilheteira online</a></p>
    </div>
    <div class="info-block">
      <h2>Eventos</h2>
      <a routerLink="/concerto_seis">
        <img src="assets/concerto.jpg" class="event-image">
      </a>
      <a routerLink="/carrilhao">
        <img src="assets/carrilhao.jpg" class="event-image">
      </a>
      </div>
    <br>
    <div class="info-block">
    <h2>Localização</h2>
    </div>
    </div>
    <div class="map-container">
      <iframe class="map-container" iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.4317958955817!2d-9.328504623653386!3d38.93696284436801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ed7cd8a70e97d%3A0x6a25dbce17b7c99d!2sPal%C3%A1cio%20Nacional%20de%20Mafra!5e0!3m2!1spt-PT!2spt!4v1717784682229!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
<app-review [museum]="'mafra'"></app-review>
<app-footer></app-footer>