<footer class="footer">
    <div class="footer-column">
      <h3>Museus e Monumentos de Portugal</h3>
      <p>
        A Museus e Monumentos de Portugal compreende um conjunto de museus e monumentos que configuram uma excecional rosa-dos-ventos da nossa memória, história e identidade. Todos têm um brilho próprio. Juntos, formam uma constelação de conhecimento e espanto.
      </p>
      <br>
      <p>Insituto Politénico do Cávado e do Ave</p>
    </div>
    <div class="footer-column">
      <!-- Coluna do meio vazia -->
    </div>
    <div class="footer-column">
      <h3>Contactos</h3>
      <p>Escola Superior de Tecnologia | Prog Web</p>
      <p>4750-810 Barcelos | Portugal</p>
      <p>NIF 517 804 417</p>
      <p>TEL: +351 213 650 800</p>
      <p>E-mail: info&#64;museusemonumentos.pt</p>
    </div>
  </footer>