<app-header></app-header>
<div class="event-container">
    <h1 class="event-title">Impressões de Camélia e Limão</h1>
    <h2 class="event-location">Paço dos Duques de Bragança</h2>
    <p class="event-schedule">De 30 de maio a 24 de julho · Exposições</p>
    <p class="event-description">
        A série «Impressions of Camellia and Lemon» (Impressões de Camélia e Limão), é uma exploração visual, profundamente reflexiva, sobre a natureza, infância, beleza, origens ancestrais/memórias. Estas plantas simbolizam o interesse da artista nas origens ancestrais do Médio Oriente (Síria) e do Oriente (China e Japão). 
    </p>
    <p class="event-description">
        Esta exposição também explora símbolos emocionais de amor, tristeza, abundância, sobrevivência, resiliência, esperança e beleza. Este projeto combina uma dimensão histórica e conceptual com uma dimensão emocional e poética, construindo uma narrativa autobiográfica. 
    </p>
    <p class="event-description">
        Isabel Pavão formou-se em Artes Plásticas e em Pintura na Escola Superior de Belas Artes do Porto, em 1984. Concluiu o Mestrado em Artes e obteve o Diplôme d’Études Approfondies Artistiques, na Université Paris VIII – St. Dennis, em 1988 e conduziu pesquisa destinada a doutoramento / Thèse de Troisième Cycle.
    </p>
    <p class="event-ticket-info">
        Os bilhetes podem ser adquiridos na <a href="https://pacodosduques.gov.pt/eventos/">bilheteira online</a> ou na entrada do Paço dos Duques (Guimarães). 
        O preço dos bilhetes é de 12 euros e 6 euros para crianças até aos 14 anos.
        </p>
    <a href="assets/lemon.png"> 
    <img src="assets/lemon.png" class="event-image">
    </a>
    </div>
    <br><br>
  <app-footer></app-footer>
  