<app-header></app-header>
<div class="event-container">
    <h1 class="event-title">XII Ciclo de Concertos a Seis Órgãos</h1>
    <h2 class="event-location">Palácio Nacional de Mafra</h2>
    <p class="event-schedule">1º domingo do mês, às 16h00 · Concertos</p>
    <p class="event-description">
      A Basílica do Palácio Nacional de Mafra recebe entre os meses de abril e julho o <em>XII Ciclo de Concertos a Seis Órgãos</em>, a cada primeiro domingo do mês, sempre pelas 16h00.
    </p>
    <p class="event-description">
      A Basílica possui um conjunto instrumental de seis órgãos históricos que, pela sua singularidade, é algo que é único em todo o mundo. A sua disposição arquitetónica, aliada ao facto de terem sido projetados em conjunto e a possibilidade de serem individualmente ou em simultâneo, conferem uma raridade patrimonial de exceção.
    </p>
    <p class="event-description">
      Os seis instrumentos foram construídos para substituir outros já existentes, da época do rei D. João V. O trabalho foi executado pelos dois mais importantes organeiros do seu tempo: Joaquim António Peres Fontanes e António Xavier Machado e Cerveira, entre 1792 e 1807.
    </p>
    <p class="event-ticket-info">
        Os bilhetes podem ser adquiridos na <a href="https://www.visitlisboa.com/en/places/national-palace-of-mafra">bilheteira online</a> ou no balcão do Palácio Nacional de Mafra. 
        O preço dos bilhetes é de 8 euros e a entrada é gratuita para crianças até aos 12 anos, mediante levantamento prévio de bilhete.
    </div>
    <br><br>
  <app-footer></app-footer>
  