<app-header></app-header>
<div class="hero-image">
  <img src="assets/mdds6.jpeg">
</div>
<div class="text-content">
  <p>Terça-feira a domingo, das 10h00 às 17h30 · Bilhete 3,00 €</p>
  <hr class="separator-line">
</div>  

<div class="content-section">
  <h1>Museu de Arqueologia D. Diogo de Sousa</h1>
  <p>
    O Museu de Arqueologia D. Diogo de Sousa tem desenvolvido a sua atividade no âmbito da preservação, valorização e mediação do património arqueológico local e regional. Abriu ao público no dia 29 de junho de 2007 em instalações construídas de raiz, implantadas na zona arqueológica mais significativa da cidade romana de Bracara Augusta. 
  </p>
  <p>
    O nome do Museu está associado ao arcebispo D. Diogo de Sousa (1461-1532), a quem se ficaram a dever importantes medidas de remodelação urbanística na cidade de Braga e as primeiras tentativas de salvaguarda dos vestígios da ocupação romana. Entre os séculos XVI e XIX, registaram-se algumas iniciativas em prol da criação de um museu, o que ocorreu em 1918, com o surgimento do Museu D. Diogo de Sousa como museu de arqueologia e arte geral. 
  </p>
  <p>
    O seu espólio é representativo da ocupação humana do norte do país, com evidências materiais do seu contexto cultural, cronologicamente compreendidas entre o Paleolítico e a Idade Média. O espólio da Pré e Proto-História é proveniente na sua grande maioria de sítios arqueológicos do noroeste peninsular. 
  </p>
  <p>
    Para além do espólio de origem nacional, expõe de forma permanente uma coleção de cariz internacional, fruto da doação Bühler-Brockhaus, que faz do Museu de Arqueologia D. Diogo de Sousa uma referência incontornável na leitura da relação entre o território ocidental da Península Ibérica e o mundo mediterrânico na Antiguidade Clássica.
  </p>
</div>
<div class="gallery">
  <a href="assets/mdds1.jpeg"> 
    <img src="assets/mdds1.jpeg">
  </a>
  <a href="assets/mdds2.jpeg">
    <img src="assets/mdds2.jpeg">
  </a>
  <a href="assets/mdds3.jpeg">
    <img src="assets/mdds3.jpeg">
  </a>
  <a href="assets/mdds4.jpeg">
    <img src="assets/mdds4.jpeg">
  </a>
  <a href="assets/mdds5.jpeg">
    <img src="assets/mdds5.jpeg">
  </a>
</div>
<div class="info-section">
  <div class="info-block">
    <h2>Diretor/a</h2>
    <p>Maria José Sousa</p>
  </div>
  <div class="info-block">
    <h2>Morada e contactos</h2>
    <p>Rua dos Bombeiros Voluntários · 4700-025 Braga</p>
    <p><strong>T</strong> +351 253 273 706</p>
    <p><strong>E-mail:</strong> mdds&#64;museusemonumentos.pt</p>
    <p><strong>Site:</strong> www.museuddiogodesousa.gov.pt</p>
  </div>
  <div class="info-block">
    <h2>Horário</h2>
    <p>Terça-feira a domingo <strong>10h00-17h30</strong></p>
    <p>Encerrado: 1 de janeiro, domingo de Páscoa, 1 de maio,24 de junho, 25 de dezembro</p>
  </div>
  <div class="info-block">
    <h2>Bilheteira</h2>
    <p>Normal <strong>3,00 €</strong></p>
    <p><a href="https://www.museuddiogodesousa.gov.pt/horarios-e-ingressos/">Bilheteira online</a></p>
</div>
<br><br>
<div class="info-block">
<h2>Localização</h2>
</div>
</div>
<div class="map-container">
  <iframe class="map-container" 
   iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.070443826627!2d-8.429774525191304!3d41.546071971280064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fec4b86513c5%3A0x7a6bc246b3f973c9!2sMuseu%20de%20Arqueologia%20D.%20Diogo%20de%20Sousa!5e0!3m2!1spt-PT!2spt!4v1717787412735!5m2!1spt-PT!2spt"width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
</div>
<app-review [museum]="'diogosousa'"></app-review>
<app-footer></app-footer>