<app-header></app-header>
<div class="hero-image">
  <img src="assets/bisc2.jpeg">
</div>
<div class="text-content">
  <p>Temporariamente encerrados para obras de requalificação</p>
  <hr class="separator-line">
</div>  

<div class="content-section">
  <h1>Museu dos Biscainhos</h1>
    <p>
        O Museu dos Biscainhos abriu ao público em 1978. Encontra-se instalado num notável conjunto que integra o Palácio dos Biscainhos e os jardins, construído e ampliado ao longo dos séculos XVII e XVIII o que o projeta como um significativo testemunho do barroco, e com beneficiações da primeira metade do século XIX, permitindo uma visão continuada e sintetizadora da cultura de todo este período. Em 1949, o edifício e os seus jardins foram classificados como Imóvel de Interesse Público.
    </p>
    <p>
    A exposição permanente do Museu dos Biscainhos foi estruturada a partir de doações e legados de beneméritos bracarenses, entre outros, e continuamente enriquecida por depósitos de particulares e de organismos públicos.
    </p>
    <p>
    As atuais coleções enquadram artes decorativas, entre mobiliário, cerâmica portuguesa, europeia e chinesa, vidros portugueses e europeus, têxteis, ourivesaria, metais e armas.
    </p>
    <p>
    Promover o conhecimento deste património, mediar a informação junto dos diversos públicos, dinamizar atividades de índole cultural e identitária é a grande missão do Museu dos Biscainhos.
    </p>
</div>
<div class="gallery">
<a href="assets/bisc1.jpeg"> 
    <img src="assets/bisc1.jpeg">
</a>
<a href="assets/bisc2.jpeg">
    <img src="assets/bisc2.jpeg">
</a>
<a href="assets/bisc3.jpeg">
    <img src="assets/bisc3.jpeg">
</a>
<a href="assets/bisc4.jpeg">
    <img src="assets/bisc4.jpeg">
</a>
<a href="assets/bisc5.jpeg">
    <img src="assets/bisc5.jpeg">
</a>
<a href="assets/bisc6.jpeg">
    <img src="assets/bisc6.jpeg">
</a>
<a href="assets/bisc8.jpeg">
    <img src="assets/bisc8.jpeg">
</a>
<a href="assets/bisc10.jpeg">
    <img src="assets/bisc10.jpeg">
</a>
</div>
<div class="info-section">
  <div class="info-block">
    <h2>Diretor/a</h2>
    <p>Maria José Sousa</p>
  </div>
  <div class="info-block">
    <h2>Morada e contactos</h2>
    <p>Rua dos Biscainhos · 4700-415 Braga</p>
    <p><strong>T</strong> +351 253 204 650</p>
    <p><strong>E-mail:</strong> mbiscainhos&#64;museusemonumentos.pt</p>
    <p><strong>Site:</strong> www.museudosbiscainhos.gov.pt</p>
  </div>
  <div class="info-block">
    <h2>Horário</h2>
    <p>Terça-feira a domingo<strong> 10h00-12h30 | 14h00-17h30 </strong></p>
    <p>Encerrado: 1 de janeiro, domingo de Páscoa, 1 de maio, 25 de dezembro</p>
  </div>
  <div class="info-block">
    <h2>Bilheteira</h2>
    <p>Normal <strong>2,00 €</strong></p>
    <p><a href="https://museudosbiscainhos.gov.pt/planear-a-visita/bilhetica-e-horarios/">Bilheteira online</a></p>
</div>
<div class="info-block">
  <h2>Eventos</h2>
  <a routerLink="/platao">
    <img src="assets/filosofia.jpg" class="event-image">
  </a>
  </div>
<br>
<div class="info-block">
<h2>Localização</h2>
</div>
</div>
<div class="map-container">
  <iframe class="map-container" iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.832704724166!2d-8.43206412355379!3d41.55121938581639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fedd53c98791%3A0xca5afd5fb4588605!2sMuseu%20dos%20Biscainhos!5e0!3m2!1spt-PT!2spt!4v1717857811419!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<app-review [museum]="'biscainhos'"></app-review>
<app-footer></app-footer>