<app-header></app-header>
<div class="event-container">
    <h1 class="event-title">Filosofia no museu: filósofos do mundo - Platão e e Confúcio</h1>
    <h2 class="event-location">Museu dos Biscainhos</h2>
    <p class="event-schedule">19 de julho, às 19h30 · Palestras</p>
    <p class="event-description">
        O Museu dos Biscainhos recebe um ciclo de palestras sobre filosofia, organizado pela Nova Acrópole, que pretende desenvolver a ideia <em>Em direção à Unidade para além das diferenças</em>, num exercício de reflexão que procura encontrar pontes entre filosofias e formas de pensamento distintas, salientando aquilo que as une.
    </p>
    <p class="event-description">
        <em><b>Programa</b></em><br><br>
        <b>19 de julho | 19h30</b><br> 
        <em>Epicteto e Piaget – a liberdade interior</em><br><br>
        
        <b>18 de outubro | 19h30</b><br>
        <em>Plotino e Adi Shankara – a espiritualidade filosófica</em>
    </p>
    </div>
    <br><br>
  <app-footer></app-footer>
  