<app-header></app-header>
<div class="container">
    <div class="linha1">
        <div class="museum-card">
            <a routerLink="/paco_duques">
                <img src="assets/paco_duques.jpeg" class="museum-image"></a>
            <div class="museum-info">
                <h2 class="museum-title">Paço dos Duques</h2>
                <p class="museum-address">R.Conde Dom Henrique<br>4800-412 Guimarães</p>
                <div class="ticket-button-container">
                    <a href="https://pacodosduques.gov.pt/planear-visita/bilhetica-horarios/">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div> 
        <div class="museum-card">
            <a routerLink="/mafra">
                <img src="assets/mafra3.jpg" class="museum-image">
            </a>
            <div class="museum-info">
                <h2 class="museum-title">Palácio Nacional de Mafra</h2>
                <p class="museum-address">Terreiro D. João V<br>2640-492 Mafra</p>
                <div class="ticket-button-container">
                    <a href="https://www.visitlisboa.com/en/places/national-palace-of-mafra">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="linha2">
        <div class="museum-card">
            <a routerLink="/biscainhos">
                <img src="assets/bisc8.jpeg" class="museum-image">
            </a>
            <div class="museum-info">
                <h2 class="museum-title">Museu dos Biscaínhos</h2>
                <p class="museum-address">Rua dos Biscainhos<br>4700–415 Braga</p>
                <div class="ticket-button-container">
                    <a href="https://museudosbiscainhos.gov.pt/planear-a-visita/bilhetica-e-horarios/">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="museum-card">
            <a routerLink="/diogo_sousa">
                <img src="assets/mdds2.jpeg" alt="Museu de Arqueologia D. Diogo de Sousa" class="museum-image">
            </a>
            <div class="museum-info">
                <h2 class="museum-title">Museu de Arqueologia D. Diogo de Sousa</h2>
                <p class="museum-address">Rua dos Bombeiros Voluntários<br>4700-025 Braga</p>
                <div class="ticket-button-container">
                    <a href="https://www.museuddiogodesousa.gov.pt/horarios-e-ingressos/">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

