<app-header></app-header>
<div class="event-container">
    <h1 class="event-title">Concertos de Carrilhão</h1>
    <h2 class="event-location">Palácio Nacional de Mafra</h2>
    <p class="event-schedule">Todos os domingos, às 17h30 · Concertos</p>
    <p class="event-description">
        Sempre às 17h30, até ao dia 27 de outubro, Abel Chaves toca grandes clássicos, intercalados com sucessos da música nacional e internacional, nos <em>Concertos de carrilhão no Palácio Nacional de Mafra.</em>
    </p>
    <p class="event-description">
        O público pode assistir no Claustro Sul.<br>
        A entrada é livre.
    </p>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OJF4VSJcG9w?start=0&end=97" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
      <br><br>
  <app-footer></app-footer>