<app-header></app-header>
<div class="home-section">
  <h1>Seja Bem-Vindo aos Museus de Portugal</h1>
  <div class="content-section">
    <p>Bem-vindo à nossa jornada pelos tesouros culturais e históricos de Portugal!</p>
    <p>Embarque conosco em uma viagem fascinante através dos museus e monumentos que contam a história rica e diversificada deste belo país. De norte a sul, de leste a oeste, Portugal é um verdadeiro tesouro de arte, cultura e património.</p>
    <p>Descubra os segredos do passado enquanto exploramos os corredores dos museus que abrigam artefatos antigos, obras-primas renascentistas e relíquias históricas. Delicie-se com a arquitetura deslumbrante dos palácios e castelos que testemunham séculos de história e tradição.</p>
    <p>Junte-se a nós nesta jornada única para desvendar a riqueza cultural e a herança magnífica que Portugal tem para oferecer. Este é apenas o começo de uma aventura inesquecível pelos museus de Portugal!</p>
</div>  
<br>
  <div class="events-section">
    <h2>Próximos Eventos</h2>
  <div class="info-block">
    <a routerLink="/concerto_seis">
      <img src="assets/concerto.jpg" class="event-image">
    </a>
    <a routerLink="/carrilhao">
      <img src="assets/carrilhao.jpg" class="event-image">
    </a>
    </div>
    <div class="event-description">
        Não perca a oportunidade de participar nestes eventos incríveis! Navegue no nosso site para saber mais detalhes e como participar.
      </div>
    <hr class="separator-line">
  </div>
  <br>
<br>
  <h2>Conteúdo Informativo</h2>
  <br>
  <br>
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EeDlIyLg_3M?si=rNmXPRQ95ebNZxRg&amp;controls=0&amp;start=50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xOZLJYj3Ts4?si=YreMr2SArNx2uI5O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
    <h2>Museus</h2>
    <hr class="separator-line">   
    <div class="event-description">
      <br>
      Consiga já o seu bilhete para uma experiência única nos nossos museus de eleição. Obtenha mais informações na página.
    </div>
    <div class="home-container">
      <div class="linha1">
          <div class="museum-card">
              <a routerLink="/paco_duques">
                  <img src="assets/paco_duques.jpeg" class="museum-image"></a>
              <div class="museum-info">
                  <h2 class="museum-title">Paço dos Duques</h2>
                  <p class="museum-address">R.Conde Dom Henrique<br>4800-412 Guimarães</p>
                  <div class="ticket-button-container">
                      <a href="https://pacodosduques.gov.pt/planear-visita/bilhetica-horarios/">
                          <button class="ticket">Bilhetes</button>
                      </a>
                  </div>
              </div>
          </div> 
          <div class="museum-card">
              <a routerLink="/mafra">
                  <img src="assets/mafra3.jpg" class="museum-image">
              </a>
              <div class="museum-info">
                  <h2 class="museum-title">Palácio Nacional de Mafra</h2>
                  <p class="museum-address">Terreiro D. João V<br>2640-492 Mafra</p>
                  <div class="ticket-button-container">
                      <a href="https://www.visitlisboa.com/en/places/national-palace-of-mafra">
                          <button class="ticket">Bilhetes</button>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div> 
  <br>
<br>
   <h2 style="text-align: center;">Siga-nos nas redes sociais</h2>
  <div class="social-media-logos">
    <a href="https://facebook.com" target="_blank">
      <img src="assets/fb.png" alt="Facebook" class="social-logo">
    </a>
    <a href="https://twitter.com" target="_blank">
      <img src="assets/x.png" alt="Twitter" class="social-logo">
    </a>
    <a href="https://instagram.com" target="_blank">
      <img src="assets/insta.png" alt="Instagram" class="social-logo">
    </a>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>